/* About Section Styles */
.about-section header h3 {
    text-align: center;
    margin-bottom: 0.9em;
    font-size: 2em;
}

.about-section p {
    text-align: justify;
    line-height: 1.8;
    font-size: 1em;
    /* Ajusta este valor para cambiar el tamaño */
}

.about-section p strong {
    font-weight: normal;
    font-style: italic;
}